{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
<div class="box">
    <h1 class="magic">Magic number</h1>
    <p class="magic">Welcome to my awesome magical homepage.</p>
    <p class="magic">This is the current magic number: {{ number }}</p>
    <img src="{{ asset('img/giraffe.jpg') }}" alt="" class="bild">
    <img src="{{ asset('img/giraffe.jpg') }}" alt="" class="bild">
    <img src="{{ asset('img/giraffe.jpg') }}" alt="" class="bild">
    <img src="{{ asset('img/giraffe.jpg') }}" alt="" class="bild">  
    </div>
{% endblock %}