{% extends "base.html.twig" %}
{% block body %}
<div class="playcontainer">
<div class="playfield">
<form method="POST" action="{{ path('playingfield_post') }}">
  <input class="startButton" type="submit" name="action" value="Start"></button>
</form>
<div class="players">
{% for i in range(0, spelare|length - 1) %}
  <div class="player">
  <form method="POST" action="{{ path('playingfield_post') }}">
  <input type="hidden" name="player" value="{{ spelare[i]["player-number"] }}">
  <input type="number" class="bet" name="value" min="1" max="{{ spelare[i]["Money"] }}">
  <button type="submit">Bet</button>
  </form>
  <p>Pengar: {{ spelare[i]["Money"] }}</p>
  </div>
{% endfor %}
</div>
</div>
</div>
{% endblock %}